# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo & Build
.expo/
dist/
build/
web-build/
expo-env.d.ts
/android/
/ios/

# Native Modules
!modules/triplet-generation/android/
!modules/triplet-generation/ios/
modules/triplet-generation/android/.gradle
modules/triplet-generation/android/local.properties

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.idea/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# env files
.env
.env*.local

# typescript
*.tsbuildinfo
